/*
colors :
red : #c0392b;
dark blue : #2c3e50
light grey : #e8e8e8
blue :#009ee0
polices :
  titres: BERNARDO MODA BOLD
  textes: ROBOTO
  Icones: MATERIAL DESIGN ICONIC FONT
*/
@font-face {
  font-family: "BERNARDO MODA BOLD";
  src: url("../fonts/Bernardo_Moda_Bold.ttf");
}

.title {
  padding-top: 15%;
}
.title h1 {
  font-family: "BERNARDO MODA BOLD", Arial, sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
}

.title p {
  white-space: nowrap;
}

.userLogin h4 {
  text-align: center;
  font-size: 1.5em;
}
.userLogin input[type="email"],
input[type="password"],
button {
  padding: 10px 10px;
  box-sizing: border-box;
}

.btnLogin {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

a.zappo-text-primary {
  font-size: 1.4em;
}
.creation a,
.directOrder a {
  background-color: #e8e8e8;
}
.creation h4,
.directOrder h4 {
  font-size: 1em;
}
