/*
colors :
red : #c0392b;
dark blue : #2c3e50
light grey : #e8e8e8
blue :#009ee0
polices :
  titres: BERNARDO MODA BOLD
  textes: ROBOTO
  Icones: MATERIAL DESIGN ICONIC FONT
*/
@font-face {
  font-family: "BERNARDO MODA BOLD";
  src: url("../fonts/Bernardo_Moda_Bold.ttf");
}

.title {
  padding-top: 15%;
}
.title h1 {
  font-family: "BERNARDO MODA BOLD", Arial, sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
}

.title p {
  white-space: nowrap;
}
.zmdi-hc-4x {
  color: #2c3e50;
}
.userLostPassword h4 {
  text-align: center;
  font-size: 1.5em;
}
.userLostPassword input[type="email"],
button {
  padding: 10px 10px;
  box-sizing: border-box;
}

.btnLostPassword {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

a.zappo-text-primary {
  font-size: 1.4em;
}
