.zmdi-hc-4x {
  color: #2c3e50;
}
.userPasswordReset h4 {
  text-align: center;
  font-size: 1.5em;
}
.userPasswordReset input[type="email"],
button {
  padding: 10px 10px;
  box-sizing: border-box;
}

.btnPasswordReset {
  font-size: 1.3em;
}

a {
  text-decoration: none;
}

a.zappo-text-primary {
  font-size: 1.4em;
}
